.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 90%;
  padding:6px 9px;
  margin-left:10px;
  margin:auto;
  margin-top:10px;
  margin-bottom:10px;
  box-shadow: 0px 5px 25px -3px rgba(0, 0, 0, 0.75);



  /* margin-right:30px; */
}

.header__icon {
  object-fit: contain;
  height: 80px;
  width: 80px;
  height: 40px;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('https://images.pexels.com/photos/911738/pexels-photo-911738.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 20px;
  /* border:1px solid red; */
  box-shadow: 0px 5px 9px -7px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  padding:0px;
}

.header__center {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: fit-content;
  padding: 10px;
  height: 10px;
  border: 1px solid lightgray;
  border-radius: 999px;
  margin-left:140px;
  box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 0.75);

  
}

.header__center > input {
  border: none;
  /* padding: 10px; */
  outline:none;
  width: 250px;
  /* cursor: pointer; */
  
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
  margin-right: 30px;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
   
  .header__right{
    display: none;
  }
  
  .header__center > input {
    border: none;
    /* padding: 10px; */
    outline:none;
    width: 80px;
    /* cursor: pointer; */
    
  }
  .banner__search {
    width: 41%;
  }
  .card{
    height: 190px;
  }
  .card > img {
    object-fit: fill;
    min-width: 116px;
    min-height: 97px;
    width: 100%;
  }
  .card__info > h2 {
    font-size: 10px;
    font-weight: 600;
    /* margin-bottom:12px; */
  }
  .card__info > h4 {
    font-size: 7px;
    font-weight: 300;
    margin-top: 8px;
    /* margin-bottom: 52px; */
  
  }
  .card__info h3{
    display: none;
  }
  
  
  .hone {
    display: block;
    width: -moz-fit-content;
    width: 75%;
    text-align: center;
    margin: auto;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 13px;
    font-family: Chelsea Market;
    padding: 10px 16px;
    margin-left: 13px;
    margin-right: 13px;
    /* border: 1px solid red; */
    box-shadow: 0px 5px 26px -7px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    color: rgb(85, 84, 57);
    /* background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR1QyyvkhGIX45cMGiBB8KB97AMBB-lenrTvA&usqp=CAU); */
    /* background-size: cover; */
    border-radius: 15px;
    margin: auto;
    font-size: 12px;
  }
  
  .hone h1{
    font-size:12px;
  }
  }
  
  